<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
    <h2>Tic Tac Toe</h2>
    <form action="mode()">
        <input value="1p" name="mode" type="radio"> 1P<br/>
        <input value="2p" name="mode" type="radio" checked> 2P<br/>
    </form>
    <h2>X:O<br/> <span id="x-score">0</span>:<span id="o-score">0</span></h2>
    <canvas id="can" height="300px" width="300px"></canvas>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>